#root {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align:center;
  background-image:url("../スクリーンショット 2024-08-04 012638.png");
  background-size: 150px;
}

#jozi{
  height: 150px;/*中身のcount以外の場所（高さ）*/
  font-size: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */
#oni{
  color: rgb(251, 255, 0);
  margin: 0 auto;
  text-align: center;
  /* width: 100%; */
  /* position: absolute; */
  left: 0;
  right: 0;
 
}
#me{
  color: brown;
}
h2{
  color: blueviolet;
}

#jo{
  display: flex;
}
#goma{
  margin: 30px;

}

#lo{
  color: darkgreen;
}

#tara{
  margin: 30px;
}

